<mat-accordion multi="true" *ngIf="blogs.length > 0">

  <mat-expansion-panel *ngFor="let blog of blogs">

    <mat-expansion-panel-header>

 Title: {{ blog.title }}

</mat-expansion-panel-header>

    <p>
      Blog: {{ blog.content }} <br>
      Author: {{blog.author}} <br>
      Date: {{blog.date | date}}
    </p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(blog.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<p class="info-text mat-body-1" *ngIf="blogs.length <= 0">No blogs have been added yet, please create one. </p>
