
<mat-card>

  <form (submit)="onAddBlog(blogForm)" #blogForm="ngForm">

      <mat-form-field>

    <input
    matInput
    type="text"
    name="title"
    placeholder="Title"
    ngModel
    required
    minlength="3"
    #title="ngModel"
>

<mat-error *ngIf="title.invalid">Please enter a blog title.</mat-error>

  </mat-form-field>

 <mat-form-field>

  <textarea
  matInput
  rows="6"
  name="content"
  placeholder="Content"
  ngModel
  required
  minlength="3"
  #content="ngModel"
  ></textarea>

  <mat-error *ngIf="content.invalid">Please enter some blog content.</mat-error>

</mat-form-field>

<mat-form-field>

  <input
  matInput
  type="text"
  name="author"
  placeholder="Author"
  ngModel
  required
  minlength="3"
  #author="ngModel"
  >

  <mat-error *ngIf="author.invalid">Please enter an author.</mat-error>

</mat-form-field>

<mat-form-field>

  <input
  matInput
  type="date"
  name="date"
  placeholder="Date"
  ngModel
  required
  #date="ngModel"
  >

  <mat-error *ngIf="date.invalid">Please enter the date.</mat-error>

</mat-form-field>

<button color="accent" mat-raised-button typ="submit">Save Post</button>

  </form>

</mat-card>


<!-- <p>
  {{ newBlog }}
</p> -->
